In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
def formatFeature(features, data):
    data.fillna(0, inplace=True)
    data.loc[data.Open.isnull(), 'Open'] = 1
    features += ['Store', 'CompetitionDistance', 'Promo', 'Promo2', 'SchoolHoliday', \
                 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2SinceWeek',\
                 'Promo2SinceYear']

    features.extend(['StoreType', 'Assortment', 'StateHoliday'])
    mappings = {'0':0, 'a':1, 'b':2, 'c':3, 'd':4}
    data.StoreType.replace(mappings, inplace=True)
    data.Assortment.replace(mappings, inplace=True)
    data.StateHoliday.replace(mappings, inplace=True)
    
    features.extend(['DayOfWeek', 'Month', 'Day', 'Year', 'WeekOfYear'])
    data['Year'] = data.Date.dt.year
    data['Month'] = data.Date.dt.month
    data['Day'] = data.Date.dt.day
    data['DayOfWeek'] = data.Date.dt.dayofweek
    data['WeekOfYear'] = data.Date.dt.weekofyear
    
    features.append('CompetitionOpen')
    data['CompetitionOpen'] = 12 * (data.Year - data.CompetitionOpenSinceYear) + \
        (data.Month - data.CompetitionOpenSinceMonth)
    features.append('PromoOpen')
    data['PromoOpen'] = 12 * (data.Year - data.Promo2SinceYear) + \
        (data.WeekOfYear - data.Promo2SinceWeek) / 4.0
    data['PromoOpen'] = data.PromoOpen.apply(lambda x: x if x > 0 else 0)
    
    features.extend(['IsPromoMonth', 'IsPromoNextMonth'])
    month2str = {1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', \
             7:'Jul', 8:'Aug', 9:'Sept', 10:'Oct', 11:'Nov', 12:'Dec'}
    data['monthStr'] = data.Month.map(month2str)
    data['NextMonth'] = data.Month + 1
    data['nextMonthStr'] = data.NextMonth.map(month2str)
    data.loc[data.PromoInterval == 0, 'PromoInterval'] = ''
    data['IsPromoMonth'] = 0
    data['IsPromoNextMonth'] = 0
    for interval in data.PromoInterval.unique():
        if interval != '':
            for month in interval.split(','):
                data.loc[(data.monthStr == month) & (data.PromoInterval == interval),\
                         'IsPromoMonth'] = 1
                data.loc[(data.nextMonthStr == month) & (data.PromoInterval == interval),\
                         'IsPromoNextMonth'] = 1

In [37]:
googleTrends = pd.read_csv("../data/Rossmann_DE.csv")
googleTrends

                        Week  rossmann
0    2004-01-04 - 2004-01-10         8
1    2004-01-11 - 2004-01-17        10
2    2004-01-18 - 2004-01-24         9
3    2004-01-25 - 2004-01-31        11
4    2004-02-01 - 2004-02-07         9
5    2004-02-08 - 2004-02-14         8
6    2004-02-15 - 2004-02-21        10
7    2004-02-22 - 2004-02-28        12
8    2004-02-29 - 2004-03-06        10
9    2004-03-07 - 2004-03-13         9
10   2004-03-14 - 2004-03-20         9
11   2004-03-21 - 2004-03-27        12
12   2004-03-28 - 2004-04-03         8
13   2004-04-04 - 2004-04-10        10
14   2004-04-11 - 2004-04-17        10
15   2004-04-18 - 2004-04-24        15
16   2004-04-25 - 2004-05-01        10
17   2004-05-02 - 2004-05-08        12
18   2004-05-09 - 2004-05-15        12
19   2004-05-16 - 2004-05-22        16
20   2004-05-23 - 2004-05-29        13
21   2004-05-30 - 2004-06-05        14
22   2004-06-06 - 2004-06-12        13
23   2004-06-13 - 2004-06-19        17
24   2004-06-20 - 2004-06-26        13
25   2004-06-27 - 2004-07-03        15
26   2004-07-04 - 2004-07-10        11
27   2004-07-11 - 2004-07-17        16
28   2004-07-18 - 2004-07-24        14
29   2004-07-25 - 2004-07-31        16
..                       ...       ...
586  2015-03-29 - 2015-04-04        78
587  2015-04-05 - 2015-04-11        69
588  2015-04-12 - 2015-04-18        74
589  2015-04-19 - 2015-04-25        66
590  2015-04-26 - 2015-05-02        79
591  2015-05-03 - 2015-05-09        77
592  2015-05-10 - 2015-05-16        68
593  2015-05-17 - 2015-05-23        78
594  2015-05-24 - 2015-05-30        70
595  2015-05-31 - 2015-06-06        80
596  2015-06-07 - 2015-06-13        70
597  2015-06-14 - 2015-06-20        83
598  2015-06-21 - 2015-06-27        72
599  2015-06-28 - 2015-07-04        89
600  2015-07-05 - 2015-07-11        74
601  2015-07-12 - 2015-07-18        87
602  2015-07-19 - 2015-07-25        73
603  2015-07-26 - 2015-08-01        89
604  2015-08-02 - 2015-08-08        82
605  2015-08-09 - 2015-08-15        78
606  2015-08-16 - 2015-08-22        86
607  2015-08-23 - 2015-08-29        74
608  2015-08-30 - 2015-09-05        84
609  2015-09-06 - 2015-09-12        72
610  2015-09-13 - 2015-09-19        81
611  2015-09-20 - 2015-09-26        68
612  2015-09-27 - 2015-10-03        75
613  2015-10-04 - 2015-10-10        80
614  2015-10-11 - 2015-10-17        73
615  2015-10-18 - 2015-10-24        90

[616 rows x 2 columns]

In [ ]:
types = {'CompetitionOpenSinceYear': np.dtype(int),
         'CompetitionOpenSinceMonth': np.dtype(int),
         'StateHoliday': np.dtype(str),
         'Promo2SinceWeek': np.dtype(int),
         'SchoolHoliday': np.dtype(float),
         'PromoInterval': np.dtype(str)}
train = pd.read_csv("../data/train.csv", parse_dates=[2], dtype=types)
test = pd.read_csv("../data/test.csv", parse_dates=[3], dtype=types)
store = pd.read_csv("../data/store.csv")

train.fillna(1, inplace=True)
test.fillna(1, inplace=True)

# Consider only open stores for training. Closed stores wont count into the score.
train = train[train["Open"] != 0]
# Use only Sales bigger then zero. Simplifies calculation of rmspe
train = train[train["Sales"] > 0]

In [22]:
train = pd.merge(train, store, on='Store')
test = pd.merge(test, store, on='Store')

features = []
formatFeature(features, train)
formatFeature([], test)

In [26]:
train[features].sample(3)

,Store,CompetitionDistance,Promo,Promo2,SchoolHoliday,StoreType,Assortment,StateHoliday,DayOfWeek,Month,Day,Year,WeekOfYear,CompetitionOpen,PromoOpen,IsPromoMonth,IsPromoNextMonth
742937,984,440,0,1,0,3,1,0,3,9,11,2014,37,24177,21.00,0,1
127891,171,2640,1,0,1,1,1,0,1,8,5,2014,32,24176,24176.00,0,0
12594,17,50,1,1,1,1,1,0,2,10,8,2014,41,106,51.75,1,0

In [29]:
X = train[features].values
y = np.log1p(train.Sales)
test = test[features].values

In [34]:
np.save(open('../data/X_pickle','wb'), X)
np.save(open('../data/y_pickle','wb'), y)
np.save(open('../data/test_pickle','wb'), test)
np.save(open('../data/features_pickle','wb'), features)